<!DOCTYLE html>
<html>
  <head>
    <title></title>
    <meta charset='UTF-8' />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body>
    <main>
      <svg id="game" width="800" height="800">
      </svg>
    </main>
    
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/snap.svg.js"></script>
    <script src="/javascripts/Grid-Client.js"></script>
    <script src="/javascripts/Game-Client.js"></script>
    <script src="/javascripts/HUD.js"></script>
    <script src="/javascripts/client.js"></script>
    <script>
    </script>
  </body>
</html>
